{% extends "base.html.twig" %}
{% block title %}{{ controller_name }}{% endblock %}

{% block body %}

    <h1>Feuille de pointage</h1>

    
    <table class="table">
        <thead>
            <tr>
                <th>Nom Prénom</th>
                <th>Nom du chantier</th>
                <th>Date de debut</th>
                <th>Voir le chantier</th>
                <th>Supprimer</th>
               
            </tr>
        </thead>
        <tbody>
            {% if infos == "Aucune donnée !" %}
            <tr>
                <td colspan=5>{{ infos }}</td>
            </tr>
            {% endif %}
            
        {% if infos != "Aucune donnée !" %}
            {% for donnee in donnees %}
            <tr>
                <td>{{ donnee.utilisateurs.Nom }} {{ donnee.utilisateurs.Prenom }}</td>
                <td>{{ donnee.chantiers.Nom }}</td>
                <td>{{ donnee.date_debut | date('d-m-Y') }}</td>
                <td><a href="{{ path('show_chantier' , {'id': donnee.chantiers.id}) }}">Voir le chantier</a></td>
                <td><a href="{{ path('delete_pointage' , {'id': donnee.id}) }}" class="icon-trash"></a></td>
            </tr>
            {% endfor %}
        {% endif %}
        </tbody>
    </table>

    <button class="btn"> <a href="{{ path('add_pointage') }}"> Ajouter un pointage </a></button>

   
    
    
{% endblock %}