{% extends "base.html.twig" %}

{% block title %}Gestion des employés{% endblock %}

{% block body %}
    
    <div>
        <h2>{{ employe.Nom }} {{ employe.Prenom }} {{ employe.Matricule }}</h2>
        <button id ="{{ employe.id }}" >Supprimer</button>
        <button id ="{{ employe.id }}" >Mettre a jour</button>
    </div>
    

{% endblock %}